/* 
  Sommaire :
  1 - Reset
  2 - Variables
  3 - Typographie
  4 - Header
  5 - Footer
  6 - Layout des sections
      - Hero
      - Our Work
      - Pricing
      - Contact
*/

/* 
  1 - CSS Reset
  -------------------------------------------------
  Les fichiers CSS tels que [normalize.css](https://necolas.github.io/normalize.css/) ou [reset.css](http://meyerweb.com/eric/tools/css/reset/) ou https://gist.githubusercontent.com/marharyta/b83a3683085eb42867bbcefb34687af8/raw/3aa09648ad8bb144d8d0478668f92f5bcd537203/reboot.css (celui de bootstrap,
  voir le fichier css/reboot.css :
  @import url('reboot.css');
  ici nous l'avons importé dans l'HTML avec un <link />
*/


/* -------------------2 - Variables------------------------------*/

:root {
    --primary: #E74C3C;
    --secondary: #3498DB;
    --gray-darker: #2C3E50;
    --gray-dark: #444444;
    --gray: #4D5C6B;
    --gray-light: #ABABAB;
    --gray-lighter: #D5D5D5;
    --white: #fff;
    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Pontiac', sans-serif;
  }

  /* ------------------3 - Typographie-------------------------------*/
  
  @font-face {
    font-family: 'Pontiac';
    font-weight: 300;
    font-style: normal;
    src: url('../fonts/pontiaclight.otf') format('opentype');
  }
  @font-face {
    font-family: 'Pontiac';
    font-weight: 500;
    font-style: normal;
    src: url('../fonts/pontiac-regular.otf') format('opentype');
  }
  @font-face {
    font-family: 'Pontiac';
    font-weight: 700;
    font-style: normal;
    src: url('../fonts/pontiac-bold.otf') format('opentype');
  }
  @font-face {
    font-family: 'Pontiac';
    font-weight: 900;
    font-style: normal;
    src: url('../fonts/pontiac-black.otf') format('opentype');
  }
  
  body {
    font-family: var(--primary-font);
    font-weight: 300;
    font-size: 16px;
    line-height: 1.2;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--secondary-font);
    font-weight: 300;
  }
  
  a {
    color: var(--primary);
    text-decoration: none;
  }
  
  a:hover,
  a:focus {
    color: var(--primary);
    text-decoration: underline;
  }
  
  /* -------------------- 4 - Header-----------------------------*/

  .main-header {
    display: flex;
    justify-content: space-between;
    background-color: var(--primary);
    padding: 11px 42px;
    align-items: center;
  }

  .main-header__brand {
    margin: 0;
    text-transform: uppercase;
    color: var(--white);
    font-size: 36px;
    line-height: 46px;
    letter-spacing: -0.2px;
    font-weight: 900;
  }

  .nav-header__list {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 20px;
  }

  .nav-header__item a {
    color:var(--white);
    font-family: var(--secondary-font);
    text-transform: uppercase;
    font-size: 18px;
  }

  @media (max-width: 768px) {
    .nav-header__list{
      display: flex;
      flex-wrap: wrap;
    }
     /* Sur les petits écrans, occupe toute la largeur */
    .nav-header__list {
      width: 100%;
      margin-bottom: 15px; 
    }
}
  
    /* -------------------- Layout -----------------------------*/
  #hero {
    background: url(../img/hero-image.jpg) no-repeat center/cover;
    height: calc(100vh - 28px);
    text-align: center;
    display:flex;
    gap:40px;/*espace les lemeent dans le display flex */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
  }

  .hero__title {
    font: normal 300 54px /70px var(--secondary-font);
    color: var(--white);
    max-width: 920px;
  }

  .hero__button {
    background-color: var(--primary);
    padding: 15px 140px;
    border-radius: 24px;
    touch-action: manipulation;
    text-decoration: none;
    color: var(--white);
    transition: color 0.3s;
  }

  .hero__button:hover{
    background-color: var(--white);
    text-decoration: none;
  }

    /* -------------------- our-work /Pricing Table -----------------------------*/

  #our-works , #pricing-table , #contact {
    padding-top: 131px;
  }

  .our-works__content ,.pricing-table__content, .contact__pricing-table{
    display: flex;
    text-align: center;
    gap: 40px; 
    flex-direction: column;
    padding-top: 0px;
  }

  .our-works__title , .pricing-table__title ,  .contact__title{
    font: normal 300 43px /70px var(--secondary-font);
    color: var(--gray-darker);  
  }
  
 .our-works__description , .pricing-table__description , .contact__description{
    font: normal 300 17px /20px var(--secondary-font);
    color: var(--gray);
    bottom: 12px;
  }
 
  /* -------------------- portfolio -----------------------------*/


  .portfolio {
    display: flex;
    gap: 20px 21px;
    flex-wrap: wrap;
    padding-top: 120px;
    cursor: pointer;
    padding-bottom: 50px;
    margin-left: 20%;
    margin-right: 20%;
  }

/* --------------------Pricing Table Section / Pricing Columns-----------------------------*/

.pricing-table--tableau {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    width: auto;
    height: auto;
    padding-top: 120px;
    justify-content: center;
    cursor: pointer;
    padding-bottom: 50px;
}

.colonne {
    width: 270px;
    height: auto;
    border: 2px solid var(--gray-lighter);
    border-radius: 4px;
    transition: transform 2.1s;
    text-decoration: none;
    text-align: center;
   
}

.colonne:hover {
    transform: scale(1.1);
    border: solid 2px var(--secondary);
}
.colonne__gold:hover {
    transform: scale(1.1);
    border: solid 2px gold;
}

.colonne__en-tete {
    font: light 36px/47px -70 var(--secondary-font);
    color: var(--gray-darker);
    padding: 30px;
    border-bottom: 1px solid var(--gray-lighter);
}

.colonne__en-tete:hover {
    background-color: var(--secondary);
    color: var(--white);
}

.en-tete--gold:hover {
    color: var(--white);
    text-decoration: none;
    background-color: gold;
}

.colonne__entete-gras {
    font:  900 16px/24px bold var(--primary-font);
    color: var(--gray-dark);
   ;
}

.colonne__entete-gras:hover {
    color: var(--white);
}

.colonne__container{
    list-style-type: none;
    text-align: center;
    border-bottom: 1px solid  var(--gray-lighter);
    padding: 0;
    margin: auto;
    height:auto;
    width: max-content;
    text-decoration: none;
  }

.colonne__container ul,li {
    font: normal 16px/24px var(--primary-font);
    list-style-type: none;
    text-align: center;
    border-bottom: 1px solid var(--gray-lighter);
    text-decoration: none;
    margin: 10px;;
    padding: 10px;

}

.colonne__lien {
    font: normal 16px var(--primary-font);
    color:var(--white);
    text-decoration: none;
    background-color: var(--secondary);
    border-radius: 4px;
    padding: 10px 40px 10px 40px;
    margin: auto; /* Centrer horizontalement */
}

.colonne__lien:hover {
    color:var(--secondary);
    text-decoration: none;
    background-color:  var(--white) ;
    border-radius: 4px;
    border: 1px solid var(--secondary);

}

.colonne__lien--gold:hover {
    color: var(--white);
    text-decoration: none;
    background-color: gold;
    border-radius: 4px;
    border: 1px solid gold;
}

/* -------------------- Contact -----------------------------*/
/*- Envoi du formulaire en POST, page de traitement : contact.php */
#contact {
    background-color: var(--gray-darker);
    width: 100%;
    height: 100%;
    background: cover;
    padding-bottom: 120px;
}

#contact .contact__pricing-table .contact__title {
    color: var(--white);
}

#contact .contact__pricing-table .contact__title .contact__description {
    color: var(--gray-light);
}

.contact__form {
    display: flex;
    gap: 25px;
    justify-content: space-between; /* space-between répartir l'espace entre les deux divs */
    padding-top: 28px;
    margin-left: 19%;
    margin-right: 20%;
}

.contact__form div {
    width: 48%; /* largeur div à 48% -> espace entre elles */
}

/*formulaire  petite  écran */
@media (max-width: 768px) {
    .contact__form {
        flex-direction: column; /*direction en colonne  */
        align-items: center; /* Centre les divs sur les petits écrans */
    }
     /* Sur les petits écrans, occupe toute la largeur */
    .contact__form div {
        width: 100%;
        margin-bottom: 15px; 
    }
}

input[type=text],
textarea,
input[type=email] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    color: var(--gray-light);
}

textarea {
    color: var(--gray-light);
}

label {
    margin-right: 0px;
    margin-left: 0px;
    width: 100%;
}

input[type=submit] {
    background-color: var(--primary) ;
    color:var(--white);
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color:var(--white);
    color:var(--primary)  ;
    border-color: 1px solid var(--primary);
}

.contact__form div{
  width: 100%;
}
.contact__form--Service--submit{
  display: flex;
  gap: 25px;
}

.container {
    /* Ajouter box-sizing */
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 100%;
    max-width: 800px; /*largeur maximale*/
    margin: 0 auto;
}

  /* -------------------- Footer -----------------------------*/
.main-footer{
  gap: 50px;

}

.main-footer--Copyright{
  display: flex;
  flex-direction: column;
  margin: 0 40%;
}

.top-link{
  color: var(--white);
  background-color: var(--primary);
  border-radius: 48%;
  display: flex;
  max-width: 5%;
  align-items: center;
  padding: 25px;
  font-size: 31px;
  margin-top: -46px;
  margin-right: 48%;
  margin-left: 48%;
}

.nav-social{
  display: flex;
  flex-direction: row;
  margin-right: 40%;
  margin-left: 40%;
}

.facebook{
  background-color: blue;
  border-radius: 55%;
  padding: 20px;
  color: white;
  font-size: 25px;
}

.youtube{
  background-color: red;
  border-radius: 55%;
  padding: 20px;
  color: white;
  font-size: 25px;
}

.instagram{
  background-color:deeppink;
  border-radius: 55%;
  padding: 20px;
  color: white;
  font-size: 25px;
}

  /* -------------------- Layout -----------------------------*/
  


